<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://lib.baomitu.com/vue/2.6.11/vue.common.dev.js"></script>
</head>
<body>

<div id="myApp">
    <h3>游戏列表</h3>
    <!--Virtual DOM-->
    <div v-if="seen">最新发布</div>
    <ol>
        <li v-for="game in games">{{game.title}}/{{game.price}}</li>
    </ol>
</div>

<script>
    var myApp = new Vue({
        /*绑定id*/
        el: '#myApp',
        data: {
            seen: true,
            games: [
                {title: '太鼓达人', price: 400},
                {title: '超级机器人大战V', price: 380},
                {title: '高达无双3', price: 350},
            ]
        }
    });
</script>
</body>
</html>