<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.blog.dao.BlogMapper">

    <select id="queryBlogByExample" resultType="Blog">
        select * from t_blog b ,t_type t where b.type_id=t.id
        <if test="typeId!=null">
            and b.type_id=#{typeId}
        </if>
        <if test="title!=null">
            and b.title=#{title}
        </if>
        <if test="recommend!=null">
            and b.recommended=#{recommend}
        </if>
    </select>

    <resultMap id="BlogType" type="Blog">
        <result column="title" property="title"/>
        <result column="recommended" property="recommended"/>
        <association property="type" javaType="Type">
            <result column="id" property="id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>
</mapper>