<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.graduation_design.mapper.MovieMapper">

    <!--查询每年的前50-->
    <select id="queryMovieList" resultType="Movie">
          select * from movie where year = #{year} and votes&gt;10000 order by imdb desc limit 0, 50
   </select><!--这个还要添加一个根据年份查找的功能，后面加一个根据where year=？？-->

    <!--查找每年各类型的总数及评分人数-->
    <select id="MovieType2019" resultType="Movie2019">
         select a.type,sumvotes,counts from (select type,sum(votes) as sumvotes from movie where year=2019 group by type) as a join (select type,count(1) as counts from movie group by type order by type asc) as b on a.type=b.type
   </select><!--增加一个按年份查找总数量 select type ,count(1) as counts from movie where year=2019 group by type-->

    <!--select a.type,vote,counts from (select type,votes,count(1) as vote from movie where year=2015 group by type order by type) as a join (select type,count(1) as counts from movie where year=2015 group by type order by type asc) as b on a.type=b.type-->
    <select id="MovieType2018" resultType="Movie2018">
select a.type,sumvotes,counts from (select type,sum(votes) as sumvotes from movie where year=2018 group by type) as a join (select type,count(1) as counts from movie group by type order by type asc) as b on a.type=b.type
</select>

    <select id="MovieType2017" resultType="Movie2017">
select a.type,sumvotes,counts from (select type,sum(votes) as sumvotes from movie where year=2017 group by type) as a join (select type,count(1) as counts from movie group by type order by type asc) as b on a.type=b.type
 </select>

    <select id="MovieType2016" resultType="Movie2016">
select a.type,sumvotes,counts from (select type,sum(votes) as sumvotes from movie where year=2016 group by type) as a join (select type,count(1) as counts from movie group by type order by type asc) as b on a.type=b.type
 </select>

    <select id="MovieType2015" resultType="Movie2015">
select a.type,sumvotes,counts from (select type,sum(votes) as sumvotes from movie where year=2015 group by type) as a join (select type,count(1) as counts from movie group by type order by type asc) as b on a.type=b.type
</select>

    <!--查找IMDB评分各区间的数量-->
    <select id="queryMovieImdb" resultType="MovieImdb">
        select sum(case when imdb&gt;=9 and imdb&lt;=9.9 then 1 else null end),
        sum(case when imdb&gt;=8 and imdb&lt;= 8.9 then 1 else null end),
        sum(case when imdb&gt;=7 and imdb&lt;= 7.9 then 1 else null end),
        sum(case when imdb&gt;=6 and imdb&lt;= 6.9 then 1 else null end),
        sum(case when imdb&gt;=5 and imdb&lt;= 5.9 then 1 else null end),
        sum(case when imdb&gt;=4 and imdb&lt;= 4.9 then 1 else null end),
        sum(case when imdb&gt;=3 and imdb&lt;= 3.9 then 1 else null end),
        sum(case when imdb&gt;=2 and imdb&lt;= 2.9 then 1 else null end),
        sum(case when imdb&gt;=1 and imdb&lt;= 1.9 then 1 else null end)
        from movie
    </select>

    <!--查找Meat评分个区间的数量-->
    <select id="queryMovieMeta" resultType="MovieMeta">
        select sum(case when meta&gt;=90 and meta&lt;=99 then 1 else null end),
        sum(case when meta&gt;=80 and meta&lt;= 89 then 1 else null end),
        sum(case when meta&gt;=70 and meta&lt;= 79 then 1 else null end),
        sum(case when meta&gt;=60 and meta&lt;= 69 then 1 else null end),
        sum(case when meta&gt;=50 and meta&lt;= 59 then 1 else null end),
        sum(case when meta&gt;=40 and meta&lt;= 49 then 1 else null end),
        sum(case when meta&gt;=30 and meta&lt;= 39 then 1 else null end),
        sum(case when meta&gt;=20 and meta&lt;= 29 then 1 else null end),
        sum(case when meta&gt;=10 and meta&lt;= 19 then 1 else null end)
        from movie
   </select>

    <!--查找每年的高分电影，imdb7分以上-->
    <select id="queryHighPoint" resultType="MovieHighPoint">
        select * from(select year,sum(imdb>=7.0) as sumhighpoint from movie where votes&gt;=10000 group by year) as a order by year desc limit 0,5
    </select>

    <!--查看每年高分电影的评分人数,来分析热门片和冷门片的占比-->
    <select id="queryHighPointVotes" resultType="HighPointVotes">
        select a.year,popular,unpopular,normal from(select year,sum( votes&gt;=100000 and imdb&gt;=7) as popular from movie group by year) as a
        join (select year,sum( votes&gt;=10000 and votes&lt;=50000 and imdb&gt;=7) as unpopular from movie group by year) as b on a.year=b.yea
        join (select year,sum( votes&gt;50000 and votes&lt;100000 and imdb&gt;=7) as normal from movie group by year) as c on a.yearr=c.year
         order by a.year desc limit 0,5
    </select>
    <!--select * from(select year,sum(imdb>=8) as SumHighPoint from movie group by year) as a order by year desc limit 0,5-->

    <!--查找各类型的平均分-->
    <!--    <select id="queryAvgPoint" resultType="MovieAvgPoint">-->
    <!--        select type,round(AVG(imdb),1)as AvgPoint from movie group by type order by type-->
    <!--    </select>-->
    <!--select type,AVG(imdb)as AvgPoint from movie group by type order by type-->

    <!--查找近五年来全部类型的数量及各类型平均分-->
    <select id="querySumType" resultType="MovieType">
        select a.type,Avgpoint,counts from (select type,round(AVG(imdb),1)as AvgPoint from movie group by type order by type) as a join (select type,count(1) as counts from movie group by type order by type asc) as b on a.type=b.type
    </select>
    <!--select type,count(1) as counts from movie group by type order by type asc-->

    <!--查找各主演参演电影的平均分-->
    <select id="queryStar" resultType="MovieStar">
        select a.star,counts,AvgPoint from (select star,count(1) as counts from movie where votes&gt;10000 group by star) as a join (select star,round(AVG(imdb),1)as AvgPoint from movie group by star) as b on a.star=b.star where AvgPoint >=7 and counts >=3 order by counts desc
    </select>

    <!--查找各导演执导电影的平均分-->
    <select id="queryDirector" resultType="MovieDirector">
        select a.director,counts,AvgPoint from (select director,count(1) as counts from movie where votes&gt;10000 group by director) as a join (select director,round(AVG(imdb),1)as AvgPoint from movie group by director) as b on a.director=b.director where AvgPoint >=7 and counts >=3 order by counts desc
    </select>

    <!--查找高分电影中，哪位演员主演的电影最多-->
    <select id="queryTopStar" resultType="BestStar">
select * from(select star ,count(1) as counts from movie where imdb>=7 and votes>=10000 group by star)as a where counts>=3 order by counts desc
    </select>

    <!--查找高分电影中，哪位导演导的电影最多-->
    <select id="queryTopDirector" resultType="BestDirector">
select * from(select director ,count(1) as counts from movie where imdb>=7 and votes>=10000 group by director)as a where counts>=3 order by counts desc
    </select>

    <!--    &lt;!&ndash;查找高分电影中，什么类型的电影最多&ndash;&gt;-->
    <!--    <select id="">-->
    <!--        select type ,count(1) as counts from movie where imdb>=7 and votes>=10000 group by type order by counts desc-->
    <!--    </select>-->
    <!--    改成每年高分电影中的各类型电影数量-->
    <!--    select type ,count(1) as counts from movie where imdb>=7 and votes>=10000 and year=2015 group by type order by counts desc-->


</mapper>